@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

.card {
  -webkit-box-shadow: 6px 10px 22px -5px rgba(0,0,0,0.49); 
  box-shadow: 6px 10px 22px -5px rgba(0,0,0,0.49);
  background-color: rgb(233, 231, 231);
  border-radius: 1rem;
  width: fit-content;
  margin: 1rem;
}
.card p {
  padding: .5rem 3rem .5rem 3rem ;
  text-align: center;
}

.newRecordText {
  width: 30rem;
  border: 2px solid rgb(214, 212, 212);
  border-radius: 4px;
  margin: 15px 0;
  outline: none;
  padding: 15px;
  box-sizing: border-box;
  transition: 0.3s;
  font-size: 3rem
}
.newRecordText:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

.newRecordSubmit{
  width: 30rem;
  border-radius: 4px;
  padding: 15px;
  box-sizing: border-box;
  transition: 0.3s;
  font-size: 3rem;
  color: white;
  background-color: black;
}
.newRecordSubmit:hover{
  color:black;
  background-color: white
}


.portada{
  background-color: dodgerBlue;
}

.portada .initialText{
  font-size: 5rem;
  padding: 4rem;
  color: white;
  text-shadow: 4px 4px 9px rgba(150, 150, 150, .7);
}